.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background-color: white;
}

.shapeArea {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
